<a href="https://colab.research.google.com/github/dcreeder89/rails-to-trails-count-data-exploration/blob/main/Reeder_Renaming%2C_Deleting_%26_Missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Renaming, Deleting & Missing Data
- Christina Reeder
- 15 Nov 2022

## Import pandas and data into dataframe

In [ ]:
import pandas as pd

In [ ]:
# Connecting notebook to google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Save data from excel file as dataframe
filename = '/content/drive/MyDrive/Coding Dojo/02 Week 2: Pandas for Data Manipulation/Core Assignments/RailsToTrails_National Count Data_week.xlsx'
bike_df = pd.read_excel(filename)
bike_df.info()
bike_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   Unnamed: 6                  52 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 4.2+ KB

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

## 1. Delete unnecessary columns

In [ ]:
# Delete unnecessary columns
bike_df = bike_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])
# Display dataframe head to check that columns are gone
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

## 2. Rename the Unnamed:6 column to percent_change

In [ ]:
# Rename column
bike_df = bike_df.rename(columns={'Unnamed: 6':'percent_change'})
# Display dataframe to check column ID changed
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

## 3. How many missing values are in the dataset? Which columns are they in?

In [ ]:
# Add up all null values in the dataset and display sums for each column
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

## 4. Fill all missing values in the '2021 Counts' column with 0

In [ ]:
# Fill all NaN values in '2021 Counts' column with 0
bike_df['2021 Counts'].fillna(0, inplace=True)
# Check null values count per column to check the change
print(bike_df.isna().sum())
# Check dataframe head to check that the values were actually changed to 0
bike_df.head()

Timeframe                     0
Week of                       0
 2019 counts (31 counters)    0
 2020 counts (31 counters)    0
2021 Counts                   0
Change 2019-2020              0
percent_change                0
dtype: int64

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602

## 5. Bonus

> There is a challenging but common issue in the name for the 2019 counts column. Can you find it? If so, rename the 2019 counts (31 counters) column to "counts_2019" (a more Pythonic column name)

In [ ]:
# Change column name of ' 2019 counts (31 counters)' to counts_2019 using dictionary
bike_df = bike_df.rename(columns={' 2019 counts (31 counters)':'counts_2019'})
# Display dataframe to check column ID change
bike_df.head()

,Timeframe,Week of,counts_2019,2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602

> The issue is there is a space added before 2019, Python needs all characters present in the string, including spaces